<mt:setvarblock name="page_title"><__trans phrase="Get Template Exporter"></mt:setvarblock>
<mt:include name="dialog/header.tmpl">



	<style>.tip {margin-top: 60px; font-size: 10pt; border: 1px solid black; padding: 10px;}</style>
	<div class="tip">
	<p><em>You need the Template Exporter plugin to export templates.</em> You can export your existing templates with <a href="http://mt-hacks.com/templateexporter.html" target="_blank">Template Exporter</a> plugin, instantly creating template sets that can be installed using Template Installer.  Great for backing up blog templates, copying templates from one blog/system to another, and more. <a href="http://mt-hacks.com/templateexporter.html" target="_blank">Click here for more information</a> [Link opens in new window]</p>
	</div>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <a href="<mt:var name="return_url" escape="html">" class="primary-button" target="_top"><__trans phrase="Return to templates"></a>
    </div>
</div>

<mt:include name="dialog/footer.tmpl">
